*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

:root { --bg: #fff; --text: #000; }
body.dark-mode { --bg: #121212; --text: #fff; }
body { background: var(--bg); color: var(--text); transition: 0.3s; }


.header {
  background-color: rgba(255,255,255, 0.7);


  .container {
    max-width: 1300px;
    margin:  auto;
    padding: 0px 25px;

    .navbar {
      display: flex;
      align-items: center;
      padding: 25px;
      justify-content: flex-end;
      gap: 20px;

      .nav-item{
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .menu-icon{
        display: none;
        width: 30px;
        height: 30px;
        img{
          width: 100%;
        }
      }
      
      a {
        text-decoration: none;
        color: #555 
          }
     }
     #menu-toggle{
      display: none;
     }
     .hidden-nav-item{
      display: flex;
      flex-direction: column;
      background-color: #333;
      align-items: flex-end;
      gap: 10px;
      max-height: 0;
      transition: all .5s ease;


      a{
        color: #fff;
        text-decoration: none;
        margin-right: 50px;
      }
     }

     .headerContent {
       margin-top: 70px;
       display: flex; 
       align-items: center;

       .headerContentItem {
          flex: 1;

          h1{
            font-size: 50px;
            line-height: 60px;
            margin: 25px 0px;
          }
          p{
            color: #555;
          }
          img{
            width: 100%;
            padding: 50px 0px;
          }
      }
         
     }
  }
}


.categories {
  margin: 70px 0px;

  .container {
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    img{
      flex-basis: 30%;
      min-width: 250px;
      margin-bottom: 30px;
    }
  }
  
}

  .featured-products{
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;

    h2{
      color: #555;
      line-height: 60px;
      /*margin-bottom: 80px; */ 
      text-align: center; 

    }
.customUnderlineContainer{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  .customUnderline{
    width: 80px;
    height: 5px;
    background-color: #ff523b;
    border-radius: 5px;
  }
    
}
.product-Container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
 .product-Card{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    flex-basis: calc(25% - 20px);
    margin-bottom: 50px;
    cursor: pointer;
    transition: transform 0.5s;

    .product-title{
      color: #555;
      font-size: 18px;
      margin-top: 10px;
    }
    .product-pricing{
      font-size: 14px;
      color: #555;

    }

  }
  .product-Card:hover{
    transform: translateY(-5px);
  
  }
    

}
}
.smart-watch-banner{
  margin-top: 80px;
  background-color: rgba(255,255,255, 0.7);
  padding: 30px 0px;
.container{
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: auto;
  padding: 0px 25px;
  justify-content: space-around;
  align-items: center;

  .smart-watch-image-conatiner{
    flex: 1;
    padding: 50px;

    img{
      width: 100%;

    }

  }

  .smart-watch-banner-content{
    flex: 1;

    .smart-watch-banner-title{
      color: #555;
    }
    .smart-watch-banner-subtitle{
      font-size: 50px;
      line-height: 60px;
      margin: 25px 0px;
      }
      .smart-watch-banner-description{
        color: #555;
        font-size: 14px;
      }
      .smart-watch-banner-button{
        padding: 8px 30px;
        background-color: #ff523b;
        color: #fff;
        margin:30px 0px;
        border-radius: 30px;
        border: none;
      }
      .smart-watch-banner-button:hover{
        background-color: #563434;
        cursor: pointer;
      }

        
  }

}
}
.testimonialParentcontainer{
  padding-top: 100px;

  .testimonialInnerContainer{
    max-width: 1080px;
    margin: auto;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .testimonialCards{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      cursor: pointer;
      padding: 40px 20px 40px;
      box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
      cursor: pointer;
      transition: transform 0.5s;
      min-width: 250px;
      margin-bottom: 30px; 
      flex-basis: calc(30%-50px);

      .testimonialContent{
        color: #777;
        font-size: 12px;
        margin: 12px 0px;

      }
      .ratings{
        padding-top: 20px;
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .user{
        width: 50px;
        margin-top :20px; 
        border-radius: 50%;

      }
      h3{
        font-size: 16px;
        color: #555;
        font-weight: 600;

      }
      

    }
    .testimonialCards:hover{
      transform: translateY(-10px);
    }
  }


}

.brandingContainer{
  margin: 100px auto;

  .brandingInnerSection{
    display: flex;
    justify-content: space-around;
    max-width: 1080px;
    padding: 0px 25px;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
  
    img{
      cursor: pointer;
      filter: grayscale(100%);
    }
    img:hover{
      filter: grayscale(0%);
    }
  }

  }
.footer{
  background-color: #222831;
  color: #eeeeee;
  padding: 60px 0px 20px;
  font-size: 14px;


  .footercontainer{
    max-width: 1300px;
    margin: auto;
    padding: 0px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .footerColumn{
      display: flex;
      flex-direction: column;
      min-width: 250px;
      margin-bottom: 20px;
     
    }

    .footerColumn1{
      flex-basis: 30%;

      h3{
        color: #ff523b;
        margin-bottom: 20px;
        font-weight: 500;
      }
      p{
        color: #eeeeee;
      }
      .FOoterStoreContainer{
        display: flex;
        gap: 4px;
        align-items: center;
        margin-top: 20px;
        img{
          width: 140px;
          margin:5px 0px;
          cursor: pointer;
        }
       }
    }
          .footerColumn2{

           flex: 1;
            align-items: center;

          h3{
            color: #ff523b;
            margin-bottom: 20px;
            font-weight: 500;
          }
          p{
             color: #eeeeee;
             margin-bottom: 10px;
             cursor: pointer;
             transition: color 0.3s ease;
            }
             p:hover{
        text-decoration: underline;
        color: #ff523b;
      
    }   
  }
     .footerColumn3{
       flex-basis: 12%;
        align-items: center;

        h3{
          color: #ff523b;
          margin-bottom: 20px;
          font-weight: 500;
          }
      p{
        color: #eeeeee;
        margin-bottom: 10px;
        cursor: pointer;
        transition: color 0.3s ease;

      }
      p:hover{
        text-decoration: underline;
        color: #ff523b;
      
    }
      
  }
    
          }
        }

        .allProductsSection{
          display: flex;
          flex-direction: column;
          max-width: 1080px;
          padding: 0px 25px;
          margin: auto;

          .AllProductsSectionLabel{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 100px 0px 50px;
            select{
              border: 1px solid #ff523b;
              padding: 5px;
              outline: none;

            } 

          }
          .paginationButtonContainer{
            display: flex;
            margin-bottom: 80px;
            align-items: center ;
            gap: 10px;
            .paginationButton{
              display: inline-block;
              border: 1px solid #ff523b;
              width: 40px;
              height: 40px;
              text-align: center;
              line-height: 40px;
              cursor: pointer;
              transition: background-color 0.3s ease;
              &:hover{
                background-color: #ff523b;
                color: #fff;
              }

            }


          }
        }


      .product-details-container{
        margin-top: 80px;
        max-width: 1080px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .product-detail-content{
          flex-basis: calc(50% - 50px); 
          padding: 20px;
          min-width: 300px;
          display: flex;
          flex-direction: column;

        }

        .product-detail-image{
          gap: 4px;
           .Product-image{
            width: 100%;
          }
          .product-small-img-container{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .product-small-img{
              flex-basis: 24%;
              img{
                width: 100%;
              }         
             }

          }
        }

        .product-detail-text{
          p{
            color: #555;

          }
          h1{
            font-size: 50px;
            line-height: 60px;
            margin: 25px 0px;
          }

          h4{
            color: #555;
            margin: 20px 0px;
            font-size: 22px;
            font-weight: bold;
          }
          select{
            border: 1px solid #ff523b;
            padding: 10px;
            outline: none;
            width: fit-content;
            display: block;
            margin-top: 20px;

          }
          .addToCartBtn{
            display: flex;
            align-items: center;
            gap: 10px;
            input{
              width: 50px;
              height: 40px;
              padding-left: 10px;
              font-size: 20px;
              margin-right: 10px;
              border: 1px solid #ff523b;
              outline: none;
              width: fit-content;
            }

            .addToCartButton{
              display: inline-block;
              background: #ff523b;
              color: #fff;
              padding: 8px 30px;
              margin: 30px 0px;
              border-radius: 30px;
              transition: background-color 0.5s;
              text-decoration: none;

            }
            .addToCartButton:hover{
              background-color: black;
              cursor: pointer;
            }
        }
            
            

        }
      }

      .cart-container{
        margin: 80px auto;
        max-width: 1080px;
        padding-left: 25px;
        padding-right: 25px;

        table{
          width: 100%;
          border-collapse: collapse;

          th{
            text-align: left;
            padding: 5px;
            color: #fff;
            background: #ff523b;
            font-weight: normal;
          }
          th:last-child{
            text-align: right;
          }
          td{
            padding: 10px 5px;
            border-bottom: 1px solid #ddd;
            color: #555;

            .cart-info{
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              gap: 4px;

              .details{
                display: flex;
                flex-direction: column;

                p{
                  color: #555;
                }
                small{
                  color: #999;
                }
                a{
                  color: #ff523b;
                  text-decoration: none;
                  gap: calc(2%-4px);
                }

              }

              img{
                width: 90px;
              }

            }
            input{
              width: 40px;
              height: 25px;
              padding: 5px;
              outline: none;

            }
            
     

          }
        }

               .total-price{
              display: flex;
              justify-content: flex-end;
              table{
                border-top: 3px solid #ff523b;
                max-width: 350px;
                tr{
                  td{
                    color: #555;
                    padding: 10px 5px;
                    &:last-child{
                      text-align: right;
                    }
                  }

                }
              }
              .checkout-btn{
                display: inline-block;
                background: #ff523b;
                color: #fff;
                padding: 8px 30px;
                margin: 30px 0px;
                border-radius: 30px;
                transition: background-color 0.5s;
                text-decoration: none;
                cursor: pointer;

              }
              .checkout-btn:hover{
                background-color: brown;
              }
            }


      }
      @media only screen and ( max-width: 600px){
        .headerContent{
          flex-direction: column;
          h1, p{
            align-items: center;
            text-align: center;
          }
        }
        .categories .container img{
          flex-basis: 100%;
        }

        .product-Container .product-Card{
          flex-basis: 100% !important;

          .product-title, .product-pricing{
            text-align: center;
          }
          div{
            display: flex;
            justify-content: center;
          }
        }


        .smart-watch-banner{
          .container{
            flex-direction: column;

            .smart-watch-banner-content{
              display: flex;
              flex-direction: column;
              align-items: center;
            }
          }
        }

        .testimonialParentcontainer .testimonialInnerContainer .testimonialCards{
          flex-basis: 100%;
        }

        .footer .footercontainer{
          flex-direction: column;

          .footerColumn1{
            align-items: center;

            .FOoterStoreContainer{
              flex-direction: column;
            }

          }
        
        }
      } 

       @media only screen and ( max-width: 800px){
        .header{
          .navbar{
            .nav-item{
              display: none !important;
            }
            .menu-icon{
              display: block !important;
            }
          }
          #menu-toggle:checked ~ .hidden-nav-item{
            max-height: 140px !important;
            padding: 10px 0px !important;

          }
        

       }
        
      
      }